/* this make sure all text is in center */
* {
    text-align: center;
}

/* header */
.shop-name{
    font-size: 40px;
    font-weight: 700;
    margin-top: 1.2%;
    color: #6b250e;
    text-align: center
}

.input-group button {
    background-color: #6b250e;
    height:32px;
}

.input-group i {
    color: white;
}

.logo {
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15%;
    text-align: left;
}

.boldnav {
    margin-right: 2%;
    margin-top:0.5%;
}

a:hover{ 
    text-decoration:none;  
} 


/* edit the product pictures */
#wrapper {
    position: relative;
    width: 600px;
    height: 600px;
    margin-top: 190px;
}

#wrapper .content {
    width: 600px;
    height: 550px;
    overflow: hidden;
}

#wrapper > .content > .imgs {
    width: 90%;
    list-style: none;
}

#wrapper > .content > .imgs li {
    box-sizing: border-box;
    width: 90%;
}

#wrapper > .content > .imgs > li img {
    width: 100%;
    height: 100%;
}

#wrapper > .dots {
    position: absolute;
    right: 20px;
    bottom: 0px;
    top: 0px;
    width: 100px;
    list-style: none;
}

#wrapper > .dots li {
    box-sizing: border-box;
    width: 148px;
    height: 148px;
    padding: 2px;
    border: 1px solid #ccc;
    background: #F0F0F0;
    margin-bottom: 3px;
    border-radius: 3px;
    cursor: pointer;
}

#wrapper > .dots li:last-child {
    margin-bottom: 0;
}

#wrapper > .dots li .dot_img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
}

/* edit the product description */
.description{
    position:absolute;
    left: 55%;
    top:18%;
    width: 40%;
    line-height:1.4;
}

#title{
    font-family:Tahoma, Geneva, sans-serif;
    font-size: 30pt;
    position: relative;
    left: 3%;
}

#descriptions{
    font-family:Tahoma, Geneva, sans-serif;
    position: relative;
    font-size: 11pt;
    border-left: 1px;
    margin-left: 15%;
    padding-left: 5%;
    margin-right: 6%;
    padding-right: 2%;
    margin-top: 6%;
    padding-top: 2%;
    text-align: left;
}

/* edit the rating and price part */
#price, #rating{
    font-family:Tahoma, Geneva, sans-serif;
    font-size: 23pt;
    position: relative;
}

.checked{
    font-size: 18pt;
    position: relative;
}

span.checked{
    color: orange;
}

/* edit the quantity and total price part */
.calPrice {
    margin-top: 15px;
    font-size: 18px;
    color: #336366;
    float: center;
    
}

#tPrice {
    height: 25px;
    width: 70px;
    float: center;
    font-size: 20px;
    margin-top: 3px;
    border: none;
}

.quantity-button {
    margin-top: 30px;
    float: center;
}

.quantity-button input {
    width: 35px;
    height: 35px;
    border: none;
    float: center;
}

#sub,
#plus {
    background-color: #336366;
    border: none;
    font-size: 15px;
    color: white;
    box-shadow: 0 1.5px 1.5px 0;
}

#textNum {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    width: 60px;
    height: 40px;
    border: 1.5px solid;
    border-color: black
}

/* edit the add to cart button */
#button {
    width: 100px;
    height: 35px;
    margin-top: 35px;
    background-color:#336366 ;
    border: none;
    font-size: 15px;
    color: white;
    box-shadow: 0 2px 2px 0;
}

/* edit the footer */
.gcs-footer {
    margin-top: 20px;
    background: #efefef;
    width: 100%;
    height: 80px;
    text-align: center;
    color: black;
    position: absolute;
}

.footer-top {
    margin-top: 10px;
}

.gcs-footer a {
    color: #7d8597;
    padding: 0 10px;
    vertical-align: middle;
}

.gcs-footer a:hover {
    color: #f08080;
    text-decoration: underline;
}

.gcs-footer p {
    height: 15px;
    color: black;
    margin-top: 15px;
}

#myCarousel{
    width: 100%;
    height: 70%;
    display: inline-flex;
}
